# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS artifacts
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Virtual environments & IDEs
.venv/
venv/
ENV/
.idea/
.vscode/

# Generated / Rendered Kubernetes Manifests
manifests/*-rendered.yaml

# Terraform artifacts & state
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

